body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* /* width: 100vw; */
}
nav{
    background-color:#212421 ;
    padding: 20px;
 
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
    margin:auto;
}
nav ul li{
    color: #FEF6E6;
}
nav .button {
    width: 25%;
}
nav button{
    width: 100%;
    background-color: #F1A63B;
    border-radius: 5px;
    padding: 10px;
}
@media( min-width:600px){
    nav ul{
        width: 90%;
    }
    nav .button{
      padding: 20px;
      width: 20%;
      /* float: right; */
    }
}
/* 
a{
text-decoration: none;
color: #FEF6C6;
}
#parent{
    background-color:#212421 ;
    height: 1400px;
    
}
nav{
    height: 100px;
    background-color:#212421 ;
    margin-bottom: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
nav ul{
    padding:10px;
    color: #637465;
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 10px;
}
nav span{
    background-color:#F1A63B ;
    color: 212722;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    width:25% ;
    height:50px ;
    line-height: 50px;
    border-radius: 3px;
    float : right;
    margin: 20px;

}


#logo{
    font-family: "Roboto Flex"sans-serif ;
    font-size: 20px    ;
    font-weight: 400;
    color:#FEF6C6;
}
@media (min-width:600){
    nav ul{
        width: 90%;
    }
    nav span{
        width: 80%;

    }


}
main{
    padding-top: 60px;
    background-color:#212421 ;
    height: 1500px;

}
#st-contain{
    display: flex;


}
#header-txt{
    color:#FEF6E6 ;
    width: 60%;
    margin: auto;
  
}
#header-img{
width: 30%;
}
#line{
    border-width: 1px;
    border-color: #F1A63B;
    border-style: solid none none none;
    display: inline-block;
    width: 60px;
    position: relative;
    bottom: 3px;
    
}
#header-txt span{
    display: inline-block;
    padding: 0 10px;
    font-size: 24px;
    font-weight: 400;

}
#header-txt h1{
    margin:0  42px;
    font-family:
    "DM Serif Display"
    serif ;
    font-size: 73.8453px
    ;
    font-weight: 400;
}
#header-txt #arrow{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border-color: #F1A63B;
    border-width: 2px ;
    border-style: solid;
    text-align: center;
    margin-left: 39px;
    margin-top: 50px;
    font-size: 30px;
    display: inline-block;
    
}
img{
    background-color: transparent;
    width: 300px;
    margin-top:5px ;
    color: #637465;
    display: inline-block;
    
}
#scroll{
    display: inline-block;
    margin-left:10px ;
    

}
#header-img{
    display: inline-block;
    width: 40%;
}
  #img{
    display: inline-block;
    margin-top:90px;
    width: 300px;
}
#about{
    color:#FEF6E6;
    margin:60px 52px;
    padding-top: 60px;
    position: relative;
    height: 300px;


}
#about span{
    padding-top: 0px;
    font-size: 24px;
    color:#FEF6E6;
    font-weight: 400;
    display: block;
    z-index: 20;
}

#about p{

font-family: "DM Serif Display"
serif;
font-size: 71.6636px;
}
#st-about{
    background-image: url(https://themewagon.github.io/monica/images/geometric_shape.svg);
    background-repeat: no-repeat;
    background-size: 40% 70% ;
    position: absolute;
    top: 60;
    left: 0;
    padding-top: 60px;
    display: inline-block;
    
    
    height: 100%;
    width: 30%;
 
}
/* #blur{
    width: 30%;
    height: 70%;
    background-color: #b3af9c3d;
    position: absolute;

} */
/* .normal{
    color:#FEF6E6 ;
    font-family: 
    "Roboto Flex"
    sans-serif;
    font-weight: 300;
    font-size: 22px;
}
#connect{
    position: absolute;
    top:10;
    margin-left: 50px;

    }
#connect img{
    width:30px;
    margin: 5px;
    background-color: transparent;

}
#about button{
    width: 250px;
    height: 50px;
    background-color: transparent;
    color: #FEF6E6;
    margin-bottom:10px ;
    border: 2px solid  #FEF6E6;
}
#nd-about{
    display: inline-block;
    width: 60%;
    height: 300px;
    margin-left: 5%;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 60px;
    font-size:24px ;
    font-weight: 300;
    font-family:
    "Roboto Flex"
    sans-serif ;
}
#nd-about p{
    font-size:24px ;
    font-weight: 300;
    font-family:
    "Roboto Flex"
    sans-serif ;
    margin-top: 60px;

}
#three,#four{
    height:1500px;
    margin-top: 60px;
    background-color: #Ffff;
    position: relative;
    margin-bottom: 30px;

}
#three-st,#four-st{
    display: inline-block;
    width: 30%;
    height:100%;
    position: absolute;
    top:240px;
    left:150px;
    margin-left: 60px;
}
#three-st span{
    color: #F1A63B;
    display: block;
    font-size: 24px;
    font-weight: 400;

}
#three-st h2,#four-st{
    font-family: "DM Serif Display"
serif;
font-size:71.6636px ;
font-weight: 400;
}

#three-nd,#four-nd{
    display: inline-block;
    width: 30%;
   /* max-height: 1000px; */
    /* margin-right: 60px;
    padding-right: 60px;
    position: absolute;
    top: 20px;
    right: 120px;
    height: 100%;
} */
#tree p ,#four p{
    font-weight: 400;
    font-size: 24px
}
#three-nd span,#four-st span{
    color: #F1A63B;
    display: inline-block;

}
#three-nd h3,#four-nd h3{  
    display: inline-block; 
font-family: "DM Serif Display"
serif;
font-size:
34.56px ;
font-weight: 400;
/* margin-top: 40px; */
}
#three-nd div,#four-nd div{
    width: 100%;
    height: 15%;
    margin-top: 30px;
    padding-top: 60px;
    /* margin-right: 50px; */
}
 #four-st{
    display: inline-block;
    width:35%

}
#four-nd div{
  height: 20%;
  width: 100%;

} 
#four-nd{
    margin-top: 60px;
    height: 100%;
    position: absolute;
    top: 150px;
    right: 40px;
}
#four{
    background-color: #FEF6E6;
    height: 3000px;
    width: 100%;
}
.contain{
    display: grid;
    width: 60%;
    position: absolute;
    grid-template-columns: repeat(5,1fr) ;
    bottom:1000px ;
    left: 100px;
    margin: auto 10%;

}
.contain div{
    width: 100%;
    height:60px;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.people{
    position:absolute;
    bottom:0px;
    display: flex;
    width: 60%;
    margin-left: 10%;
}
.person{
    width: 20%;
    display: flex;
    margin:80px ;
}
.info{
    display: block;

}
.person img{
    width: 80px;
    height: 80px;
} */
/* #two{
    background-color: transparent;
    height: 50px;

}   */